/* css para about, contato e para team */

body{
  background-image:url(/img/scale.jpg);
  background-repeat: repeat;
}


.deslizante{
  text-decoration: none;
  display: inline-block;
  border-bottom: 0px solid transparent;
  width: 210px;
  transition: 0.5s ease;
  height: 25px;
}

.deslizante:hover{
  border-bottom: 3px solid red;
}

.fontemenu{
  margin-top: 20px;
  font-size: 20px;
  font-family: sans-serif;
}

#fixImg{
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 100px;
    border-style: solid;
    border-color: black;
    border-width: 0.2px;
    border-radius: 20px;
    width: 1700px;
    height:600px;
    display: block;
    background-image: url('/img/para about/blabla.jpg');
    background-position:center;
    padding: 300px;

}

.imgTitle{
  padding:130px;
  font-family:sans-serif;
  font-size: 45px;
  color: rgba(255, 255, 255, 1);
  text-shadow: 1px 1px grey;
  text-align: center;
  margin: 10px auto;
}

#display-google-map .map-generator{
 max-width: 100%;
 max-height: 100%;
 background: none;
 }

#Itimg{
  border-radius: 20px;
}

#itemcont{
  background-color: rgb(174, 170, 175);
  padding: 30px;
  margin-right: 10px;

}

#leftItemcont{
  background-color: rgb(174, 170, 175);
  margin-top: 270px;
  margin-left: 10px;
  margin-bottom: 200px;
  padding: 30px;
}

#MapContainer{
  margin:20px;
  background-color:rgba(57, 60, 58, 0.74);
  border-radius: 20px;
  padding: 20px;
}

/*Team*/

#pessoasLegais{
   margin-top:30px;
   padding:30px;
   margin-bottom:100px;
   margin-left: 20px;
}
