/* Na pasta atual, é onde ficam os arquivos css de /css */

h3 {
  color: red;
}

body{
  background-image:url(/img/scale.jpg);
  background-repeat: repeat;
}

#logo{
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 30px;
}


.deslizante{
  text-decoration: none;
  display: inline-block;
  border-bottom: 0px solid transparent;
  width: 210px;
  transition: 0.5s ease;
  height: 25px;
}

.deslizante:hover{
  border-bottom: 3px solid red;
}

.fontemenu{
  margin-top: 20px;
  font-size: 20px;
  font-family: sans-serif;
}


.outer-div{
  background: rgba(53, 53, 53, 0.5);
  margin: 25px;
  border-radius: 20px;
  padding: 30px;
  z-index: -1;
}

.inner-div{
  margin: 0 auto;
}



a img{
  color:white;
}

.ajusta{
  position: absolute;
  width: auto;
  margin: 100px;
}


div h4{
  padding-left: 15px;
}

.efeitoIm{
  background-color: #363636;
  border-style: inset;
  border-width: 10px;
  transition: 0.3s ease;
}

.efeitoIm:hover{
  border-width: 1px;
}

.imgBonita{
  border-style: inset;
  border-width: 5px;
}

.ptitFont{
  color: #ff120f;
  text-shadow: 3px 3px grey;
}

.tamanho{
  font-size: 17px;
}

#project1{
  background: rgba(53, 53, 53, 0.5);
  margin: 25px;
  border-radius: 20px;
  padding: 30px;
}

#project2{
  background: rgba(53, 53, 53, 0.5);
  margin: 25px;
  border-radius: 20px;
  padding: 30px;
}

#project3{
  background: rgba(53, 53, 53, 0.5);
  margin: 25px;
  border-radius: 20px;
  padding: 30px;
}

#project4{
  background: rgba(53, 53, 53, 0.5);
  margin: 25px;
  border-radius: 20px;
  padding: 30px;
}

#project5{
  background: rgba(53, 53, 53, 0.5);
  margin: 25px;
  border-radius: 20px;
  padding: 30px;
}

/* Para about agora */

/*#banner{
  width: 100%;
  display: block;
}

#banner >.bannerImg{
  width: 100%;
  height: 10%;
  display: block;

}*/
#abreEspaco{
  margin-top: 30px;
}

.abOuterContainer{
  background: rgba(204, 38, 38, 0.79);
  border-radius: 30px;
  margin: 10px;
  margin-top: 100px;
  text-align: center;
  padding: 400px;
}

.esqDiv{
  display: inline-block;
  vertical-align: top;
  float:left;
  text-align: left;
  margin: 15px;
  /*display: inline-block;
  max-width: 300px;
  text-align: left;
  padding: 30px;
  background-color: #f3f3f3;
  border-radius: 3px;
  margin: 15px;
  vertical-align: top;*/
}

.dirDiv{
  display: inline-block;
  vertical-align: top;
  float:right;
  text-align: left;

  /*display: inline-block;
  max-width: 150px;
  text-align: left;
  padding: 30px;
  background-color: #ddd;
  border-radius: 3px;
  margin: 15px;*/
}

.tLeft, .tRight
{
  font: 300 16px/1.6 'Helvetica Neue' sans-serif;
    color: #333;
}
@media screen and (max-width: 600px)
{
  .left-div, .right-div
    {
       max-width: 100%;
    }
}

.textContent{
  text-align: center;
  font-size: 20px;
  color: black;
  margin-left: 10px;
  float: right;
}
